@model IEnumerable<Final_IngenieriaSoftware.Models.Votacione>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CandidatosIdcandidatosNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VotanteIdvotanteNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CandidatosIdcandidatosNavigation.Idcandidatos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VotanteIdvotanteNavigation.Idvotante)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.IdnewTable">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>
